In [59]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
import _pickle as cPickle

In [3]:
df_loan = pd.read_csv('loan_data.csv')

In [4]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
credit.policy        9578 non-null int64
purpose              9578 non-null object
int.rate             9578 non-null float64
installment          9578 non-null float64
log.annual.inc       9578 non-null float64
dti                  9578 non-null float64
fico                 9578 non-null int64
days.with.cr.line    9578 non-null float64
revol.bal            9578 non-null int64
revol.util           9578 non-null float64
inq.last.6mths       9578 non-null int64
delinq.2yrs          9578 non-null int64
pub.rec              9578 non-null int64
not.fully.paid       9578 non-null int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [7]:
df_loan.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [14]:
X = pd.get_dummies(df_loan.drop('not.fully.paid',axis=1))

In [19]:
y = df_loan['not.fully.paid']

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [62]:
rfcMODEL = RandomForestClassifier(n_estimators=300)

In [63]:
rfcMODEL.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=300, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [64]:
predictions = rfcMODEL.predict(X_test)

In [65]:
from sklearn.metrics import classification_report,confusion_matrix

In [66]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.84      1.00      0.91      2650
          1       0.48      0.02      0.04       511

avg / total       0.78      0.84      0.77      3161

In [67]:
print(confusion_matrix(y_test,predictions))

[[2639   11]
 [ 501   10]]

In [69]:
with open("RFMODEL",'wb') as Model:
    cPickle.dump(rfcMODEL,Model)

In [72]:
with open('RFMODEL','rb') as Model:
    rfK = cPickle.load(Model)

In [95]:
df_loan.dtypes

credit.policy          int64
purpose               object
int.rate             float64
installment          float64
log.annual.inc       float64
dti                  float64
fico                   int64
days.with.cr.line    float64
revol.bal              int64
revol.util           float64
inq.last.6mths         int64
delinq.2yrs            int64
pub.rec                int64
not.fully.paid         int64
dtype: object

In [96]:
df_loan.purpose.unique()

array(['debt_consolidation', 'credit_card', 'all_other',
       'home_improvement', 'small_business', 'major_purchase',
       'educational'], dtype=object)

In [97]:
df_loan.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [152]:

df_loan = pd.read_csv('loan_data.csv')

with open('RFMODEL','rb') as Model:
    rfK = cPickle.load(Model)


df_loan = df_loan.append({'credit.policy':0, 
               'purpose': 'credit_card',
               'int.rate': 0.1189, 
               'installment': 829.10, 
               'log.annual.inc': 19.48,
               'dti':737 , 
               'fico': 5639.958333,
               'days.with.cr.line':28854,
               'revol.bal': 28854, 
               'revol.util': 52.1,
               'inq.last.6mths': 0, 
               'delinq.2yrs': 0, 
               'pub.rec': 0, 
               'not.fully.paid': 1 # constant value
                         },ignore_index=True)




results = {}

results['vector'] = pd.get_dummies(df_loan.drop('not.fully.paid',axis=1)).iloc[-1:].to_dict('records')

results['precdiction'] = rfK.predict(pd.get_dummies(df_loan.drop('not.fully.paid',axis=1)).iloc[-1:]).item()

results['precdiction']

0

In [153]:
results

{'precdiction': 0,
 'vector': [{'credit.policy': 0.0,
   'days.with.cr.line': 28854.0,
   'delinq.2yrs': 0.0,
   'dti': 737.0,
   'fico': 5639.958333,
   'inq.last.6mths': 0.0,
   'installment': 829.1,
   'int.rate': 0.1189,
   'log.annual.inc': 19.48,
   'pub.rec': 0.0,
   'purpose_all_other': 0.0,
   'purpose_credit_card': 1.0,
   'purpose_debt_consolidation': 0.0,
   'purpose_educational': 0.0,
   'purpose_home_improvement': 0.0,
   'purpose_major_purchase': 0.0,
   'purpose_small_business': 0.0,
   'revol.bal': 28854.0,
   'revol.util': 52.1}]}